{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static '/css/register.css' %}">
</head>
<body>
    <div class="auth-container">
        <h2>📝 Register</h2>

        {% if messages %}
        <div class="error-messages">
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>

        <p class="extra-link">Already have an account? <a href="{% url 'login' %}">Login Here</a></p>
    </div>
</body>
</html>
